<center> <h1 class="h" >Login</h1> <center>
<div class ="container" >
<form id="login_form" method = "post" action="/sessions" >
Username:<input type="text" name="user[username]" placeholder=" Username" />
	<br>
Password <input type="password" name="user[password]" placeholder=" Password" />
<br>
<input class="button" type ='submit' value ="Login" >
<br>
</form>
</div>