<center> <h1>Login</h1> <center>
<div class ="container" >
<form id="login_from" method = "post" action="/sessions" >
Email Address:<input type="text" name="user[email]" placeholder=" Email" />
	<br>
Password <input type="password" name="user[password]" placeholder=" Password" />
<br>
<input type ='submit' value ="Login" >
<br>
</form>
</div>