<div class="card white" id="login">
<center> <h5 class ="black-text" >Login</h5> <center>
<div class ="container" >
<form id="login_form" method = "post" action="/sessions" >
Username:<input type="text" name="user[username]" placeholder=" Username" />
	<br>
Password <input type="password" name="user[password]" placeholder=" Password" />
<br>
<input class="button" type ='submit' value ="Login" >
<br>
</form>
</div>
</div>