.error-text {
	color: red;
}

body {
	padding: 30px;
  background-color: #F5FDC6;
}



.button {
  background:none!important;
  border:none; 
  padding:0!important;

  /*optional*/
  font-family:arial,sans-serif; /*input has OS specific font-family*/
  color:#039be5;

  cursor:pointer;

}
.h{
color:#20596d;

  
}

.profile-link{
  display: block;
  clear: all;
  float: right;
}
.new-contact-link{
  float: left;
}
.new-message-link{
float: right;
}

.messageplace{
  color:#039be5; 

}
.contact-text{
  color:#039be5;
}
.contact-container{
   float: left;
}
.contact-name{
color:#20596d;

}
.sms{
 
  vertical-align: top;
 float: right;

}