body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

#contact-form{
  height:350px;
  width: 650px;
  margin: auto;

}

#login{
width: 500px;
margin: auto;

}
.card-small {
     height:200px;
    }
#sent{
   height:100px;
}
#tech{
  height:300px;
  width: 700px;

}
#contacts{
margin: auto;
}
#made{
 position: absolute;
    left: 100px;

}

.card.horizontal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

}
#uniform-color{
color:#20596d;
}
.uniform-color{
color:#20596d;

}
.error-text {
	color: red;
}
#footerfix{
 height:280px;

}

body {
	padding: 30px;
  background-color: #ffffff;
}
#profile{
 height:300px;
  width: 1050px;
  margin: auto;

}

#edit{
color:#a4a8aa;

}

.button {
  background:none!important;
  border:none; 
  padding:0!important;

  /*optional*/
  font-family:arial,sans-serif; /*input has OS specific font-family*/
  color:#a4a8aa;

  cursor:pointer;

}
.h{
color:#20596d;
position: fixed;
  top: 50%;
  
  
 

  
}

.profile-link{
  display: block;
  clear: all;
  float: right;
}
.new-contact-link{
  float: left;
}
.new-message-link{
float: right;
}

.messageplace{
  color:#039be5; 

}
.contact-text{
  color:#039be5;
}
.contact-container{
   float: left;
}
.contact-name{
color:#20596d;

}
.sms{
 
  vertical-align: top;
 float: right;

}