<div class="card medium">
<CENTER> <h5 class ="uniform-color" >Sign up</h5></CENTER>
<div class ="container" >
<form id = "new_user_form" method="POST" action="/users">
	
	<br>
 Username: <input type="text" name="user[username]" placeholder=" Username" />
	<br>
 Email Address:<input type="text" name="user[email]" placeholder=" Email" />
	<br>
 Password <input type="password" name="user[password]" placeholder=" Password" />

 <br>

<input class="button" type ='submit' value ="Sign up" >

</form>
</div>
</div>