<div id="login" >
<CENTER> <h5 class ="white-text""  >Sign up</h5></CENTER>
<div class ="container" >
<form class ="white-text" id = "new_user_form" method="POST" action="/users">
	
	<br>
 Username: <input type="text" name="user[username]" placeholder=" Username" />
	<br>
 Email Address:<input type="text" name="user[email]" placeholder=" Email" />
	<br>
 Password: <input type="password" name="user[password]" placeholder=" Password" />

 <br>

<center> <input class="button" type ='submit' value ="Sign up" > </center>

</form>
</div>
</div>