<%if current_user %>
 	<div class="card large">
<center><h1 class ="uniform-color" >Welcome Back, <%= @user.username %>!</h1></center>

<div align="left">

</div>
<div align="right">
 
</div>



<br>
<br>
<br>
<ul >

 	<h1 class ="uniform-color"> My Contacts:</h1>
		<% @user.contacts.each do |contact| %>
		<div class="row" >
  <div class="col s6">
    <div class="card horizontal" >
    <h4 class="header"><%= contact.first_name + " " +  contact.last_name%></h4>
      <a href="/contacts/<%=contact.id%>/edit">edit</a>
      <i class="material-icons">mode_edit</i>
      <form method="post" action="/contacts/<%= contact.id %>">
        <input type="hidden" name="_method" value="delete" />
        <input class="button" type="submit" value="delete" />

      </form>
        <i class="material-icons">delete</i>
    </div>

  </div>


		<% end %>
		</div>
		<br>
<br>
	</ul>
<br>
<br>
<br>



<%end%>
 