<div id="contact-form">
<center> <h5 class="white-text" >Add New Contact</h5> <center>
    <div class ="container" >
      <form id="contact" class="white-text" method = "post" action="/contacts/new" >
        <i class="material-icons prefix">account_circle</i>
        First Name:<input type="text" name="contact[first_name]" placeholder= "John" />
        <br>
        <i class="material-icons prefix">account_circle</i>
        Last Name: <input  type="text" name="contact[last_name]" placeholder= "Smith" />
        <br>
        <div>
          <i class="material-icons">phone</i>
          Phone Number: <input type="text" name="contact[phone_number]" placeholder=" 5551236789" />
        </div>
        <input class ="button" type ='submit' value ="Create Contact" >
      </form>
    </div>
  </div>