<div class="container">
 <center> <h1>EventText</h1> </center>
<% if logged_in? %>


<ul>
  <li> <a class="profile-link" href="/users/<%=current_user.id%>"> My Profile</a> </li>
  <%else%>
    <li> <a href="/users/new">Sign Up</a> </li>
    <li> <a href='/login' >Login</a> </li>
  </ul>

    <%end%>


</div>