<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <script src="/js/application.js?app=skills"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <title>EventText</title>
</head>
<body>
<video poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARwAAACxCAMAAAAh3/JWAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIALA8UNAAFusnLHAAAAAElFTkSuQmCC" id="bgvid" playsinline autoplay muted loop>
<source src="https://redirector.googlevideo.com/videoplayback?pl=48&mime=video%2Fmp4&source=youtube&key=yt6&requiressl=yes&upn=bYVs1xwdVsk&lmt=1472334714838950&ip=2001%3A19f0%3A7001%3Ad32%3A5400%3Aff%3Afe58%3A19e7&ms=au&mv=m&dur=8.544&mt=1492646785&id=o-AJLkUFjqAKqxRoOuqqNUxQy5vwOkqHPsu-w5xkQvmzb2&mn=sn-a5meknel&ipbits=0&mm=31&expire=1492668472&initcwndbps=1266250&sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cupn%2Cexpire&itag=22&ei=2Pv3WNHeJtOW4AKklr7oAg&signature=94BFF5C0F2A909ADE040761D1A898B4BA5EF0C85.97413E1BD80B312733F8446111D81A151669E197&ratebypass=yes">
</video>

  <nav>
    <div class="nav-wrapper white">
      <a href="/" class="brand-logo black-text">EventText</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if logged_in? %>
        <li> <a class="profile-link black-text"  href="/users/<%=current_user.id%>"> My Profile</a> </li>
        <li> <a class="new-contact-link black-text" href="/contacts/new">Create New Contact</a> </li>
        <li> <a class="new-message-link black-text" href="/messages/new">Send New Message</a> </li>
        <li> <a class="black-text"  href="/logout">Logout</a> </li>
        <%else%>
        <li> <a class="black-text" href="/users/new">Sign Up</a> </li>
        <li> <a class="black-text"  href='/login' >Login</a> </li>
          <%end%>
      </ul>
    </div>
  </nav>

  <%= erb :'_errors' %>
  <%= yield %>
    <br>
       <footer id="footerfix" class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="grey-text">About</h5>
        <p class="grey-text">A Sinatra based web application to SMS any phone number in the USA via an API Request. Please note a purchased phone number will be required to use this application through the link on the right.</p>

      </div>
      <div class="col l3 s12">
        <h5> <a href="https://github.com/ravibkjoshi/EventText" class="grey-text"> Documentation <i class="material-icons">code</i> </h5> </a><p class="white-text">  </p>

      </div>
      <div class="col l3 s12">
        <h5> <a href="/tech" class="grey-text"> Technologies<i class="material-icons">code</i> </h5> </a>
      </div>
      <div class="col l3 s12">
        <h5> <a href="https://www.twilio.com/phone-numbers" class="grey-text">  Phone Number </h5> </a>
      </div>
    </div>
  <div class="footer-copyright">
    <div class="container grey-text">
      Made by Ravi Joshi at Dev Bootcamp
    </div>
  </div>
  </div>
</footer>


            
</body>
</html>
