<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <script src="/js/application.js?app=skills"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <title>EventText</title>
</head>
<body>
<video poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARwAAACxCAMAAAAh3/JWAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIALA8UNAAFusnLHAAAAAElFTkSuQmCC" id="bgvid" playsinline autoplay muted loop>
<source src="http://thenewcode.com/assets/videos/atlantic-light.mp4">
</video>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">EventText</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if logged_in? %>
        <li> <a class="profile-link" href="/users/<%=current_user.id%>"> My Profile</a> </li>
        <li> <a class="new-contact-link" href="/contacts/new">Create New Contact</a> </li>
        <li> <a class="new-message-link" href="/messages/new">Send New Message</a> </li>
        <li> <a href="/logout">Logout</a> </li>
        <%else%>
        <li> <a href="/users/new">Sign Up</a> </li>
        <li> <a href='/login' >Login</a> </li>
          <%end%>
      </ul>
    </div>
  </nav>

  <%= erb :'_errors' %>
  <%= yield %>
    <br>
       <footer class="page-footer">
  <d<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">EventText</h5>
        <p class="grey-text text-lighten-4">A Sinatra based web application to SMS any phone number in the USA via an API Request. Please note a purchased phone number will be required to use this application through the link on the right.</p>

      </div>
      <div class="col l3 s12">
        <h5> <a href="https://github.com/ravibkjoshi/EventText" class="white-text"> Documentation <i class="material-icons">code</i> </h5> </a>

      </div>
      <div class="col l3 s12">
        <h5> <a href="https://www.twilio.com/phone-numbers" class="white-text">  Phone Number </h5> </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by Ravi Joshi at Dev Bootcamp
    </div>
  </div>
</footer>


            
</body>
</html>
